<!DOCTYPE html>
<html>
  <head>
    <title>SPM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/navbar_layout" %>
    <!-- mensajes de alerta -->
    <%= render 'layouts/message' %>
    <!-- fin mensajes de alerta -->
    <%= yield %>
  </body>
</html>
